.paste {
  border: none;

  .panel-footer {
    border-top: none;
  }

  .panel-heading {
    border-bottom: none;
  }
  
  pre {
    padding: 0;
    background: none;
    border: none;
    border-radius: 0;
    margin: -15px;
    overflow: auto;
    word-break: keep-all;
    word-wrap: normal;

    code {
      padding: 15px;
      white-space: pre;
    }
  }

  .description {
    border-left: 1px #F5F5F5 solid;
    border-right: 1px #F5F5F5 solid;
    margin: 15px -15px -15px;
    padding: 15px;
    
    p:last-child {
      margin-bottom: 0;
    }
  }

  .title {
    color: #333;
  }

  .language {
    color: #666;
    font-weight: bold;
  }

  .actions {
    margin: -10px -15px;
    .btn {
      border: none;
      border-radius: 0;
      line-height: 30px;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

.pastes {
  max-width: 1000px;
}

.alerts.fixed {
  position: fixed;
  top: 100px;
  z-index: 100;
}

.languages {
  padding-left: 0;

  li {
    float: left;
    list-style: none;

    a {
      padding: 15px;
      color: #777;
      font-weight: bold;
      font-size: 18pt;
      line-height: 22pt;
    }

    &.selected {
      border-left: #444 5px solid;
      a {
        color: #444;
        .badge {
          background: #444;
        }
      }
    }
  }
}



.banner {
  height: 400px;
  background: url('../img/banner.png') center top fixed;
  padding: 50px 0;

  z-index: 11;

  #nav-affix {
    width: 100%;
  }

  .brand {
    font-size: 48pt;
    font-family: monospace;
    color: white;
    text-decoration: none;
  }

  .affix {
    z-index: 10;
    .container-fluid {
      margin-top: -50px;
      background: #0F0F0C;
      z-index: 10;
    }

    .brand {
      font-size: 18pt;
      line-height: 47px;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  
  .nav-pills {
    z-index: 12;

    & > li > a {
      background: none;
      font-weight: bold;
      font-size: 14pt;
      color: white;
      border-radius: 0;
      &:hover {
        background: rgba(255, 255, 255, .1);
      }
    }

    & > li.open > a {
      background: rgba(255, 255, 255, .2);
    }

    & > li.add > a {
      background: #3c763d;
    }

    & > li.active > a {
      background: #337AB7;
      color: white;
    }
  }
}