.paste {
  border: none;

  .panel-footer {
    border-top: none;
  }

  .panel-heading {
    border-bottom: none;
  }
  
  pre {
    padding: 0;
    background: none;
    border: none;
    border-radius: 0;
    margin: -15px;
    overflow: auto;
    word-break: keep-all;
    word-wrap: normal;

    code {
      padding: 15px;
      white-space: pre;
    }
  }

  .description {
    border-left: 1px #F5F5F5 solid;
    border-right: 1px #F5F5F5 solid;
    margin: 15px -15px -15px;
    padding: 15px;
    
    p:last-child {
      margin-bottom: 0;
    }
  }

  .title {
    color: #333;
  }
  
  .score {
    margin-right: 15px;
  }

  .language {
    color: #666;
    font-weight: bold;
  }

  .actions-wrapper {
    margin: -10px -15px;
    .btn {
      border: none;
      border-radius: 0;
      line-height: 30px;
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  .author {
    text-align: right
  }

  @media (max-width: 768px) {
    .author {
      line-height: 30px;
      margin-top: 15px;
      text-align: center;
    }

    .actions {
      width: 100%;

      .btn {
        display: table-cell; // well, some kind of fucking hack
        float: none;
        width: 1%;
      }
    }
  }
}

.pastes {
  max-width: 1000px;
}

.alerts.fixed {
  position: fixed;
  top: 100px;
  z-index: 100;
}

.languages {
  padding-left: 0;

  li {
    float: left;
    list-style: none;
    height: 50px;

    a {
      padding: 0 15px;
      color: #777;
      font-weight: bold;
      font-size: 18pt;
      line-height: 50px;
    }

    &.selected {
      border-left: #444 5px solid;
      a {
        color: #444;
        .badge {
          background: #444;
        }
      }
    }
  }
}



.banner {
  height: 400px;
  background: url('../img/banner.png') center top fixed;
  padding: 50px 0;

  z-index: 11;

  #nav-affix {
    width: 100%;
  }

  .brand {
    font-size: 48pt;
    font-family: monospace;
    color: white;
    text-decoration: none;
  }

  .affix {
    z-index: 10;
    margin-top: -50px;
    .container-fluid {
      background: #0F0F0C;
      z-index: 10;
    }

    .brand {
      font-size: 18pt;
      line-height: 47px;
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .navbar-button {
    background: none;
    font-weight: bold;
    font-size: 12pt;
    color: white;
    border-radius: 0;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 47px;
    height: 47px;
    border: none;

    &:hover {
      background: rgba(255, 255, 255, .1);
      color: white;
    }
  }

  .navbar-toggle {
    .navbar-button;
    margin: 0;
    padding-top: 17px;
  }

  .navbar {
    background: none;
    border: none;

    .navbar-nav {
      z-index: 12;

      & > li > a {
        .navbar-button;
      }

      & > li.open > a {
        background: rgba(255, 255, 255, .2);
      }

      & > li.add > a {
        background: #3c763d;
      }

      & > li.active > a {
        background: #337AB7;
        color: white;
      }
    }
  }
}

#navbar-collapse {
  background: #0F0F0C;
}