.paste {
  border: none;

  .panel-footer {
    border-top: none;
  }

  .panel-heading {
    border-bottom: none;
  }
  
  pre {
    padding: 0;
    background: none;
    border: none;
    border-radius: 0;
    margin: -15px;
    overflow: scroll;
    word-break: keep-all;
    word-wrap: normal;

    code {
      padding: 15px;
      white-space: pre;
    }
  }

  .description {
    border-left: 1px #F5F5F5 solid;
    border-right: 1px #F5F5F5 solid;
    margin: 15px -15px -15px;
    padding: 15px;
    
    p:last-child {
      margin-bottom: 0;
    }
  }

  .title {
    color: #333;
  }

  .language {
    color: #666;
    font-weight: bold;
  }

  .actions {
    margin: -10px -15px;
    .btn {
      border: none;
      border-radius: 0;
      line-height: 30px;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

.pastes {
  max-width: 1000px;
}